h1{
    text-align: center;
}

@media screen and (min-width:992px){
    h1{
        text-align: left;
    }
}

.alert-info{
    border:1px solid #c5c5c5;
    padding:1em 5em;
    text-align: center;
    background-color: #c4f2f4;
}

.alert-info a{
    text-decoration: none;
    color: black;
}

nav ul li a{
    text-decoration: none;
}

nav ul li{
    list-style-type: none;
    background-color: #c5c5c5;
    padding: 1em;
    margin: 1em;
}

.nav-links{
    padding: 0;
    text-align: center;
}


img{
    width: 339px;
    height: 224px;
}

h2{
    margin-top: 1em;
}

footer>p{
    margin-top: 5em;
}